@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Roboto:wght@300;400;700&display=swap");

body {
    background-color: #fff /*#f5eee7*/;
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

h2 {
    font-size: 26px;
    font-weight: 600;
}

h3 {
    /* font-size: 14px; */
}

p {
    color: grey;
    font-size: 14px;
    font-weight: 300;
}

/* HEADER */
.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 600;
    font-size: 20px;
}

.header__presentation {
    width: 100%;
    margin: 50px 0 100px 0;
    height: 500px;
    position: relative;

    background-image: url(../img/bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #8f8f8f;
}

.header__presentation::after {
    content: "Мебель для вашего дома";
    position: absolute;
    top: 40px;
    left: 150px;

    font-size: 40px;
    font-weight: 600;
    color: #ffe4c4;
}

.header__presentation::before {
    content: "По низким ценам";
    position: absolute;
    bottom: 40px;
    right: 100px;

    font-size: 40px;
    font-weight: 600;
    color: #ffe4c4;
}

.header__nav--list {
    display: inline-flex;
    column-gap: 30px;
}

.header__nav--item {
    position: relative;
    transition: 0.3s ease;
}

.header__nav--item:hover {
    top: 0.8px;
    opacity: 0.6;
}

/* Main */
.product--list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product--list__item {
    width: 30%;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;
}

.product--list__item--img {
    border-bottom: 2px solid black;
}

.product--list__item--text {
    margin-left: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 100px;
}
