@import url(./reset.css);
@import url(./components/ShopCart.css);
@import url(./components/Header.css);
@import url(./components/Items.css);
@import url(./components/Footer.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Roboto:wght@300;400;700&display=swap");

body {
    background-color: #fff /*#f5eee7*/;
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.wrapper {
    position: relative;
    width: 1280px;
    margin: 50px auto 30px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
}

p {
    color: grey;
    font-size: 13px;
    font-weight: 300;
}
